*~
*.class
.classpath
.project
.settings/
.pydevproject
.settings
.DS_Store
target
*.swp
*.pyc
findbugs-results
*.launch
/thrift
*.idea/*
*.iml
.metadata/
/bin/

dds/*
!dds/lldp.idl
!dds/lldp.mpc
!dds/cp.cmd
!dds/lib

repo.ior
